@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black-gradient: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
  --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

* {
  scroll-behavior: smooth;
}

.text-gradient {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      #bef3f5 17.23%,
      #9dedf0 42.04%,
      #7de7eb 55.12%,
      #5ce1e6 71.54%,
      #33bbcf 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-gray {
  color: gray;
}

.text-warn {
  background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
      #def9fa 0.89%,
      green 17.23%,
      yellow 42.04%,
      rgba(114, 42, 165, 0.922) 55.12%,
      rgba(47, 213, 255, 0.735) 71.54%,
      gold 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-green {
  color: forestgreen;
}

.text-lg {
  align-self: center;
  color: limegreen;
  font-size: medium;
  font-weight: 100;
}

.fs-small {
  font-size: small;
}

.fs-mid {
  font-size: medium;
  font-weight: 400px;
}

.fs-larger {
  font-size: larger;
}

.just-flex-cent {
  display: flex;
  justify-content: center;
}

.just-flex-bet {
  display: flex;
  justify-content: space-between;
}

.just-flex-around {
  display: flex;
  justify-content: space-around;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.text-primary {
  background: radial-gradient(skyblue 0.89%, green 89%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.text-secondary {
  background: radial-gradient(rgb(255, 125, 0) 89.78%, #daa520 0.9%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.bg-blue-gradient {
  background: linear-gradient(157.81deg,
      #def9fa -43.27%,
      #bef3f5 -21.24%,
      #9dedf0 12.19%,
      #7de7eb 29.82%,
      #5ce1e6 51.94%,
      #33bbcf 90.29%);
}

.bg-black-gradient {
  background: linear-gradient(144.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-black-gradient-2 {
  background: linear-gradient(-168.39deg,
      #ffffff -278.56%,
      #6d6d6d -78.47%,
      #11101d 91.61%);
}

.bg-gray-gradient {
  background: linear-gradient(153.47deg,
      rgba(255, 255, 255, 0) -341.94%,
      #14101d 95.11%);
}

.bg-discount-gradient {
  background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}

.box-shadow {
  box-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.feature-card:hover {
  background: var(--black-gradient);
  box-shadow: var(--card-shadow);
}

.feedback-container .feedback-card:last-child {
  margin-right: 0px;
}

.feedback-card {
  background: transparent;
}

.feedback-card:hover {
  background: var(--black-gradient);
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #214d76 100%);
  filter: blur(123px);
}

.pink__gradient {
  background: linear-gradient(90deg, #f4c4f3 0%, #fc67fa 100%);
  filter: blur(900px);
}

.white__gradient {
  background: rgba(255, 255, 255, 0.6);
  filter: blur(750px);
}

.min-w100 {
  min-width: 100%;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.btn {
  display: block;
  width: 90%;
  padding: 3%;
  margin: 5%;
}

@media (min-width: 768px) {
  .btn {
    position: relative;
    left: 25%;
    display: grid;
    padding: 1%;
    width: 45%;
    margin: 1%;
  } 
}
.newline { display: block;}

.-mt {
  margin-top: -10px;
}

.-mt2 {
  margin-top: -25px;
}

.-mt5 {
  margin-top: -50px;
}

.h-full {
  height: 100%;
}

.index-hero {
  top: 50%;
  left: 50%;
  position: absolute;
  padding: 0 1% 0 1%;
  background-color: rgba(109, 109, 109, 0.5);
  transform: translate(-50%, -50%);
  /* animation: slideRight 10s linear infinite;  */
}

@keyframes slideRight {
  0% {
    left: 0;
  }
  100% {
    left: calc(100% - 100px); 
  }
}